{% extends "web/layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
<div class="container">
    <h2>Login</h2>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{form|crispy}}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    <br>
    <p>Don't have an account?</p> <a href="{% url 'class_register_view' %}" class="text-warning">Register here.</a>
</div>
{% endblock %}